openapi: 3.2.0
info:
  title: Octobat Coupons API
  description: Octobat is a billing, invoicing, and tax-compliance platform for online businesses.
  version: '2.0'
  contact:
    name: Octobat
    url: https://docs.octobat.com
    email: support@octobat.com
servers:
- url: https://apiv2.octobat.com
  description: Octobat API v2 (production)
security:
- basicAuth: []
tags:
- name: Coupons
  description: Discount coupons for invoices and subscriptions.
paths:
  /coupons:
    get:
      operationId: listCoupons
      tags:
      - Coupons
      summary: List coupons
      responses:
        '200':
          description: A list of coupons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCoupon
      tags:
      - Coupons
      summary: Create a coupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponCreate'
      responses:
        '200':
          description: The created coupon.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /coupons/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveCoupon
      tags:
      - Coupons
      summary: Retrieve a coupon
      responses:
        '200':
          description: The requested coupon.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      operationId: updateCoupon
      tags:
      - Coupons
      summary: Update a coupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponCreate'
      responses:
        '200':
          description: The updated coupon.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteCoupon
      tags:
      - Coupons
      summary: Delete a coupon
      responses:
        '200':
          description: The coupon was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /coupons/{id}/activate:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      operationId: activateCoupon
      tags:
      - Coupons
      summary: Activate a coupon
      responses:
        '200':
          description: The activated coupon.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /coupons/{id}/unactivate:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      operationId: deactivateCoupon
      tags:
      - Coupons
      summary: Deactivate a coupon
      responses:
        '200':
          description: The deactivated coupon.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    CouponList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Coupon'
    CouponCreate:
      type: object
      properties:
        code:
          type: string
        percent_off:
          type: number
        amount_off:
          type: integer
        currency:
          type: string
    Coupon:
      allOf:
      - $ref: '#/components/schemas/CouponCreate'
      - type: object
        properties:
          id:
            type: string
          object:
            type: string
            example: coupon
          active:
            type: boolean
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
              example: authentication_error
            message:
              type: string
  responses:
    Unauthorized:
      description: Authentication failed - missing or invalid secret key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic authentication. Use your Octobat secret key as the username and leave the password empty (curl: -u sk_live_xxx:). Use sk_test_ keys for test mode and sk_live_ keys for live mode.'
