openapi: 3.2.0
info:
  title: Octobat Credit Notes API
  description: Octobat is a billing, invoicing, and tax-compliance platform for online businesses.
  version: '2.0'
  contact:
    name: Octobat
    url: https://docs.octobat.com
    email: support@octobat.com
servers:
- url: https://apiv2.octobat.com
  description: Octobat API v2 (production)
security:
- basicAuth: []
tags:
- name: Credit Notes
  description: Compliant credit notes issued against invoices.
paths:
  /credit_notes:
    get:
      operationId: listCreditNotes
      tags:
      - Credit Notes
      summary: List credit notes
      parameters:
      - name: customer
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A list of credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCreditNote
      tags:
      - Credit Notes
      summary: Create a credit note
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: string
                invoice:
                  type: string
                currency:
                  type: string
      responses:
        '200':
          description: The created credit note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /credit_notes/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveCreditNote
      tags:
      - Credit Notes
      summary: Retrieve a credit note
      responses:
        '200':
          description: The requested credit note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    CreditNote:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: credit_note
        customer:
          type: string
        invoice:
          type: string
        number:
          type: string
        currency:
          type: string
        total:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
              example: authentication_error
            message:
              type: string
    CreditNoteList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/CreditNote'
  responses:
    Unauthorized:
      description: Authentication failed - missing or invalid secret key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic authentication. Use your Octobat secret key as the username and leave the password empty (curl: -u sk_live_xxx:). Use sk_test_ keys for test mode and sk_live_ keys for live mode.'
