openapi: 3.2.0
info:
  title: Octobat Payouts API
  description: Octobat is a billing, invoicing, and tax-compliance platform for online businesses.
  version: '2.0'
  contact:
    name: Octobat
    url: https://docs.octobat.com
    email: support@octobat.com
servers:
- url: https://apiv2.octobat.com
  description: Octobat API v2 (production)
security:
- basicAuth: []
tags:
- name: Payouts
  description: Settlement payouts and their balance transactions.
paths:
  /payouts:
    get:
      operationId: listPayouts
      tags:
      - Payouts
      summary: List payouts
      responses:
        '200':
          description: A list of payouts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payouts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrievePayout
      tags:
      - Payouts
      summary: Retrieve a payout
      responses:
        '200':
          description: The requested payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payouts/csv_export:
    post:
      operationId: exportPayoutsCsv
      tags:
      - Payouts
      summary: Export payouts to CSV
      responses:
        '200':
          description: Export accepted.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
              example: authentication_error
            message:
              type: string
    Payout:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: payout
        amount:
          type: integer
        currency:
          type: string
        status:
          type: string
        arrival_date:
          type: integer
    PayoutList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payout'
  responses:
    Unauthorized:
      description: Authentication failed - missing or invalid secret key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic authentication. Use your Octobat secret key as the username and leave the password empty (curl: -u sk_live_xxx:). Use sk_test_ keys for test mode and sk_live_ keys for live mode.'
